#smella{
    display: none;
}

#smella:checked ~ .popupmenu{
    right: 25px;
    transition: all 0.5s ease-in;
}

#popupoverlay:target{
    visibility: visible;
}

.popupmenulbl{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    font-size: xx-large;
    color: var(--color-2);
}

.popupmenu{
    transition: all 0.5s ease-out;
    position: fixed;
    bottom: 20px;
    right: -300px;
    background-color: var(--nc-bg-2);
    padding: 1em;
    border: 1px solid;
    border-color: var(--nc-bg-3);
    border-radius: 5px;
    max-width: 15em;
}

.popupform{
    border: none;
    padding-bottom: 1em;
    padding-top: 0em;
}

.skrabutton{
    color: var(white);
    border: 1px solid;
    border-radius: 20%;
    padding: 0.25em;
    background-color: var(--color-1);
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.popupwindow{
    position: relative;
    margin: 350px auto;
    padding: 0.75em;
    background: var(--nc-bg-3);
    width: 30%;
    border-radius: 10px;
    opacity: 1;
}

.windowx{
    font-size: xx-large;
    color: var(--nc-tx-1);
    position: absolute;
    right: 15px;
    top: 0px;
}

.windowx:hover{
    color: var(--nc-tx-1);
}